#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ADS
GenericName=Advanced Design Systems
Comment=Keysight Advanced Design Systems
Keywords=ads;keysight;advanced;design;systems;
Exec=/run/media/bijan/05559660-a641-4a23-b880-250c19048db1/Softwares/ADS/bin/ads
Icon=/home/bijan/Project/Bijoux/Icons/keysight.png
Terminal=false
Type=Application
#Categories=GNOME;GTK;Office;WordProcessor;Publishing;
#Actions=Window;Document;

