[Desktop Entry]
Name=Devices
Exec=evince "/home/bijan/Documents/EBook/Electronic/Device/Electronic Devices and Circuit Theory.pdf"
Type=Application
Icon=AdobeAIR
