#!/usr/bin/env xdg-open
[Desktop Entry]
Name=LaTeXila
Name[ca]=LaTeXila
Name[cs]=LaTeXila
Name[de]=LaTeXila
Name[el]=LaTeXila
Name[es]=LaTeXila
Name[eu]=LaTeXila
Name[fr]=LaTeXila
Name[gl]=LaTeXila
Name[he]=‏LaTeXila
Name[hu]=LaTeXila
Name[id]=LaTeXila
Name[lt]=LaTeXila
Name[lv]=LaTeXila
Name[nl]=LaTeXila
Name[pl]=LaTeXila
Name[pt_BR]=LaTeXila
Name[ru]=LaTeXila
Name[sl]=LaTeXila
Name[sr]=ЛаТеКсила
Name[sr@latin]=LaTeKsila
Name[uk]=LaTeXila
GenericName=Integrated LaTeX Environment
GenericName[ca]=Entorn LaTeX integrat
GenericName[cs]=Integrované prostředí LaTeX
GenericName[de]=Integrierte LaTeX-Umgebung
GenericName[el]=Ολοκληρωμένο περιβάλλον LaTeX
GenericName[es]=Entorno integrado de LaTeX
GenericName[eu]=Barneratutako LaTeX ingurunea
GenericName[fr]=Environnement LaTeX intégré
GenericName[gl]=Ambiente integrado de LaTeX
GenericName[he]=סביבת לאטך משולבת
GenericName[hu]=Integrált LaTeX környezet
GenericName[id]=Lingkungan LaTeX Terpadu
GenericName[lt]=Integruota LaTeX aplinka
GenericName[lv]=Integrēta LaTeX vide
GenericName[nl]=Geïntegreerde LaTeX-omgeving
GenericName[pl]=Zintegrowane środowisko LaTeX-a
GenericName[pt_BR]=Ambiente LaTeX Integrado
GenericName[ru]=Интегрированная среда LaTeX
GenericName[sl]=Enovito okolje LaTeX
GenericName[sr]=Интегрисано ЛаТеКс окружење
GenericName[sr@latin]=Integrisano LaTeKs okruženje
GenericName[uk]=Комплексне середовище роботи з LaTeX
Comment=Edit LaTeX documents
Comment[ca]=Editeu documents LaTeX
Comment[cs]=Upravovat dokumenty ve formátu LaTeX
Comment[de]=LaTeX-Dokumente bearbeiten
Comment[el]=Επεξεργασία εγγράφων LaTeX
Comment[es]=Editar documentos LaTeX
Comment[eu]=Editatu LaTeX dokumentuak
Comment[fr]=Éditer des documents LaTeX
Comment[gl]=Editar documentos LaTeX
Comment[he]=עריכת מסמכי לאטך
Comment[hu]=LaTeX dokumentumok szerkesztése
Comment[id]=Sunting dokumen LaTeX
Comment[lt]=Redaguoti LaTeX dokumentus
Comment[lv]=Rediģēt LaTeX dokumentus
Comment[nl]=LaTeX-documenten bewerken
Comment[pl]=Redagowanie dokumentów LaTeX-a
Comment[pt_BR]=Edite documentos em LaTeX
Comment[ru]=Редактировать документы LaTeX
Comment[sl]=Uredi dokumente LaTeX
Comment[sr]=Уређујте документе ЛаТеКсиле
Comment[sr@latin]=Uređujte dokumente LaTeKsile
Comment[uk]=Редактор документів LaTeX
Keywords=text;tex;latex;editor;documents;
Exec=latexila %U
Icon=latexila
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;WordProcessor;Publishing;
MimeType=text/x-tex;
Actions=Window;Document;

X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=latexila
X-GNOME-Bugzilla-Component=other
X-GNOME-Bugzilla-Version=3.14.2

[Desktop Action Window]
Name=Open a New Window
Name[ca]=Obre una finestra nova
Name[cs]=Otevřít nové okno
Name[de]=Ein neues Fenster öffnen
Name[el]=Άνοιγμα ενός νέου παραθύρου
Name[es]=Abrir una ventana nueva
Name[eu]=Ireki Leiho berria
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha xanela nova
Name[he]=פתיחת חלון חדש
Name[hu]=Új ablak megnyitása
Name[id]=Buka Jendela Baru
Name[lt]=Atverti naują langą
Name[lv]=Atvērt jaunu logu
Name[nl]=Een nieuw venster openen
Name[pl]=Otwórz nowe okno
Name[pt_BR]=Abrir em uma nova janela
Name[ru]=Открыть новое окно
Name[sl]=Odpri novo okno
Name[sr]=Отворите нови прозор
Name[sr@latin]=Otvorite novi prozor
Name[uk]=Відкрити нове вікно
Exec=latexila --new-window

[Desktop Action Document]
Name=Open a New Document
Name[ca]=Obre un document nou
Name[cs]=Otevřít nový dokument
Name[de]=Ein neues Dokument öffnen
Name[el]=Άνοιγμα ενός νέου εγγράφου
Name[es]=Abrir un documento nuevo
Name[eu]=Ireki dokumentu berria
Name[fr]=Ouvrir un nouveau document
Name[gl]=Abrir un documento novo
Name[he]=פתיחת מסמך חדש
Name[hu]=Új dokumentum megnyitása
Name[id]=Buka Dokumen Baru
Name[lt]=Atverti naują dokumentą
Name[lv]=Atvērt jaunu dokumentu
Name[nl]=Een nieuw document openen
Name[pl]=Otwórz nowy dokument
Name[pt_BR]=Abrir um novo documento
Name[ru]=Открыть новый документ
Name[sl]=Odpri nov dokument
Name[sr]=Отворите нови документ
Name[sr@latin]=Otvorite novi dokument
Name[uk]=Відкрити новий документ
Exec=latexila --new-document
